* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  width: 100vw;
  height: 60px;
  background-color: #2c3e50;
}

.link {
  margin: 20px 0px 0px 15px;
  color: white;
  font-size: 30px;
}

.navbar {
  background-color: #222f3e;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: white;
}

.nav_menu {
  background-color: #576574;
  width: 250px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  -webkit-transition: 850ms;
  transition: 850ms;
}

.nav_menu.active {
  left: 0;
  -webkit-transition: 350ms;
  transition: 350ms;
}

.nav_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 50px;
}

.nav_text a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 16px;
  border-radius: 4px;
}

.nav_text a:hover {
  background-color: #1a83ff;
}

.nav_menu_items {
  width: 100%;
}

.navbar_toggle {
  background-color: #576574;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

span {
  margin-left: 16px;
}

.section_div {
  margin: 30px 30px 30px 30px;
  width: 95vw;
  height: 500px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(129, 113, 113, 0.6);
          box-shadow: 0 3px 6px 0 rgba(129, 106, 106, 0.6);
}

.pointof_contact {
  margin: 30px 30px 30px 30px;
  width: 95vw;
  height: 200px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(116, 100, 100, 0.6);
          box-shadow: 0 3px 6px 0 rgba(105, 95, 95, 0.6);
}

.grid_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}

.grid_item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(151, 130, 130, 0.8);
  width: 310px;
  height: 200px;
  text-align: center;
  border: none;
  background-color: #c0b8bc;
  margin-left: 3%;
}

.section_head {
  width: auto;
  height: 70px;
  border-bottom: 1px solid #95a5a6;
  margin-bottom: 10px;
  background-color: #1abc9c;
 
}

.section_head span {
  font-weight: bold;
  font-size: 25px;
  margin: 10px 0px 0px 20px;
  position: relative;
  left:10px;
  top:15px;
 
}

.pointof_contact span {
  font-weight: bold;
  font-size: 25px;
  margin: 10px 0px 0px 20px;
}

.section_head div {
  float: right;
  margin: 10px 20px 0px 0px;
}

.saveBtn {
  font-weight: bold;
  font-size: 15px;
  margin: 2px 0px 0px 10px;
  padding: 4px 20px;
 position: relative;
 left:10px;
 bottom:12px;
 

  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: white;
  background-color: #0984e3;
}

.delete {
  margin-top: 110px;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #6d1006;
  cursor: pointer;
}

.para {
  font-weight: bold;
  margin-left: 20px;
}
.abc{
 
  margin-left: 45%;
 color:white;
text-align: center;
position: relative;
left:10px;
bottom:15px;
font-size:x-large;

}
.para h3 {
  display: inline;
}

.send_mail {
  background-color: #0984e3;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  font-weight: bold;
  color: white;
  font-size: 20px;
  margin: 10px 0px 0px 20px;
  cursor: pointer;
}

.home {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
}
.abc{
  text-align: center;
  margin-top:2%;
}
.email_form {
  position: absolute;
  left: 33%;
  border:solid;
  width: 530px;
  height: 500px;
  align-items: center;
  padding-left:17px;
  background-color: #7db4a9;
}
.email_label {
  width: 40px;
  font-weight: bold;
  align-items: center;
}
.textarea {
  display: block;
  width:95%;
  text-align: center;
}
.from_div {
  margin: 15px 0px 15px 0px;
}

.subject_div {
  margin-bottom: 15px;
}

.input {
  margin-left: 41px;
  width: 400px;
  height: 30px;
 
}

.select_input {
  margin-left: 63px;
  width: 400px;
  height: 30px;

}

.sub_text {
  border: none;
  border-bottom: 1px solid rgb(102, 98, 98);
  margin-left: 26px;
  width:396px;
  font-size:x-large;
}

.ok_btn {
  margin-top: 15px;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  background-color: #205f68;
}
/*# sourceMappingURL=main.css.map */
.main-container{
  display: flex;
  justify-content: center;
  margin: 20px auto;
width: 60%;
height: 60vh;
border: 10px solid rgb(34, 80, 3);
opacity: 0.7;
background-color:gray;
margin-top: 80px;
}
.container{
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#textarea{
  width: 100%;
  height: 30px;
  border: 2px solid rgb(80, 6, 6);
  margin-top: 5px;
  text-align: center;
  font-size: x-large;
  color: rgb(85, 90, 85);
}
form{
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  background-color:gray;
  color:white;
}
form input{
  width: 80%;
  height: 30px;
  margin: 4px 0;
}
form select{
  width: 50%;
  height: 30px;
}
textarea{
  width: 80%;
  height: 30%;
  margin: 5px 0;
}
form button{
  margin: 10px 0;
}
button:hover{
  cursor: pointer;
}
.btn{
  font-weight: bold;
  font-size: 15px;
  margin: 2px 0px 0px 10px;
  padding: 6px 20px;
  position: relative;
  bottom: 5px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: rgb(252, 245, 245);
  background-color: #07d44c;
}





